<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>

  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
        autoReload="true" throwExceptions="false" 
        internalLogLevel="Off">

    <variable name="fileloglayout" value="${level:uppercase=true} [${longdate}] ${logger:shortName=True}: ${message}"/>
    <variable name="rootns" value="BlenderRenderController"/>
    
    <targets>
      <target xsi:type="File" name="file" fileName="${basedir}/log.txt" 
              layout="${var:fileloglayout}" />

      <target xsi:type="File" name="brclogfile" fileName="${speacialfolder:folder=ApplicationData}/log.txt"
              layout="${var:fileloglayout}"/>
      
      <target xsi:type="Console" name="console" layout="${uppercase:${level}}|${logger:shortName=True}:  ${message}"/>
    </targets>

    <rules>
      <logger name="*" minlevel="Warn" writeTo="brclogfile" />
      <logger name="*" minlevel="Trace" writeTo="console"/>
    </rules>
    
  </nlog>

  <appSettings>
    <add key="portable" value="false"/>
  </appSettings>
  
</configuration>
